<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Data List</h1>
    <tbody>
      <% data.forEach((data)=>{%>
      <div class="class">
        <p class="objectId" hidden><%- data.id %></p>
        <p id="dataType">Data Type: <%- data.type %></p>
        <tr>
          <label>Data Point:</label>
          <td><%- %></td>
          <br />
          <label>Device Origin:</label>
          <td><%- data.PCorigin %></td>
          <br />
          <label>Data User:</label>
          <td id="dataUser"><%- data.Uploader %></td>
          <br />
          <td>
            <button href=<%-dataz.id%>></button>>Delete</button>
          </td>
          <p>-----------------------------------------</p>
        </tr>
      </div>
      <% }) %>
      <script src="/javascript/data.js"></script>
    </tbody>
  </body>
</html>
